#homehead{
    color:cornflowerblue;
}

#home{
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSBXjYY174wAP64_xFwBeipFh7MgbeYZbcN2S1QGyI7WD9X1bQ41g");
}

#page1head{
    color:red;
}

#page1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAAXhSzcGYffL3ONRBx1hYJxwdykiy5NpY-rUwyNmvbwAJrIvU")
}
